@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 37);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    transform-style: preserve-3d;
    background-color: white;
    transform: rotateX(-15deg);
    
}



.circle .char{
    font-family: monospace;
    position: absolute;
    background-color: rgb(255, 0, 106);
    top: 0;
    left: 0;
    width: 45px;
    height: 64px;
    font-size: 3em;
    padding: 5px 12px ;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    color: white;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--index-letter) * 15deg)) translateZ(170px);
    margin: -20px;

    text-shadow: 250px 240px 0 white,
    20vw 240px 0 rgba(255, 255, 255, 0.664),
    35vw 140px 0 rgba(255, 255, 255, 0.664),
    6vw 100px 3px rgba(255, 255, 255, 0.637),
    30vw 40px 0 white,
    25vw 300px 0 white,
    20vw -240px 0 white,
    35vw -140px 0 white,
    6vw -100px 3px rgba(255, 255, 255, 0.678),
    30vw -40px 0 rgba(255, 255, 255, 0.719),
    25vw -300px 0 rgba(255, 255, 255, 0.699);
}


p{  
    position: absolute;
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    right: 10px;
    bottom: 10px;

}